*{
    margin: 0;
    padding: 0;
}
header{
    font-family: "Monrope";
    font-weight: 400;
}
.header-logo{
    display: flex;
    background-color: #191919;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.header-logo-p{
    width: 1200px;
}

.header-logo-p p {
    font-family: Inria Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
}

.nav{
    display: flex;  
    height: 60px;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    filter: drop-shadow(0px 3px  4px #0000003f);
}

.nav-back{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 1150px;
}

#button-back{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 0px;
}

.nav-back p{
    color: #505050;

    font-family: Manrope;
    font-size: 18px;
    font-weight: 100;
    line-height: 15px;
    text-align: center;
}